{% extends "ProjektSklepBundle:Layout:layout.html.twig" %}
{% block title %}Strona Głowna{% endblock %}


{% block content %}

    <h1>OrderMovie edit</h1>

    {{ form(edit_form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('shop') }}">
            Back to the list
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
