{% extends "ProjektSklepBundle:Layout:layout.html.twig" %}
{% block title %}Dodaj nową kategorie{% endblock %}

{% block content %}
    <h1>Category creation</h1>

    {{ form(form) }}


{% endblock %}
